html {
  box-sizing: border-box; /*Aplicar correctamente box-sizing*/
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%;
}
*,
*::before,
*::after {
  /*Aplicar correctamente box-sizing*/
  box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}
* {
  margin: 0;
  padding: 0;
}

html {
  // max-width
  @include respond(tablet-landscape) {
    font-size: 56.25%; // 1rem = 9px -> 9/16 * 100 = 56.25.
  }
  @include respond(tablet-portrait) {
    font-size: 50%; // 1rem = 8px -> 8/16 * 100 = 50.
  }

  // min-width
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12 -> 12/16 * 100 = 75.
  }
}
body {
  padding: 1.5%;

  @include respond(tablet-portrait) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
